body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    justify-content: center;
}

.header {
    position: absolute;
    top: 40px; /* Ajusta según sea necesario */
    left: 40px; /* Ajusta según sea necesario */
    width: 100%;
    background-color: #f4f4f4;
    text-align: left;
    padding: 10px;
}

.title {
    font-size: 30px;
    color: #004494;
    margin: 0;
}

.outer-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
}

.login-container {
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px; /* Ajusta el ancho del contenedor */
    padding: 20px;
    background: #fff;
    margin-right: 460px; /* Ajusta la separación entre el formulario y el logo */
    border-radius: 10px;
}

.login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%; /* Ajusta el ancho de los campos de entrada */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    width: 100%; /* Ajusta el ancho del botón */
    padding: 10px;
    border-radius: 10px;
    background: #0056b3;
    color: white;
    cursor: pointer;
    height: 40px;
}

.login-form button:hover {
    background: #004494;
}

.logo {
    max-width: 100%; /* Ajusta el tamaño del logo */
    height: auto;
    position: relative;
    left: -200px;
}

.footer {
    position: absolute;
    bottom: 20px; /* Ajusta según sea necesario */
    left: 20px; /* Ajusta según sea necesario */
    width: auto;
    background-color: #f4f4f4;
    text-align: left;
    padding: 10px;
}

.institution-name {
    margin: 0;
    font-weight: bold;
    color: burlywood;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    background-color: #004494;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.5s ease;
    position: relative;
    overflow: hidden;
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 15px;
    transition: transform 0.5s ease;
    opacity: 0.1;
}

.button:hover {
    background-color: #003B7A;
    width: 100%;
    height: 40px;
}

.button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.button:active {
    background-color: #004494;
    transform: translateY(4px);
}

body {
    font-family: sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

html {
    height: 100%;
}

.register-text {
    margin-top: 20px; /* Ajusta este valor según sea necesario */
    text-align: center;
    position: relative; /* Añade posición relativa si es necesario */
    top: -100px; /* Ajusta este valor para mover el texto hacia abajo */
    left: -700px; /* Ajusta este valor para mover el texto hacia la izquierda */
}