html{
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFEFD5;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}
/*Estilo del contenedor principal (wrapper):*/
.wrapper {
    background-color: #ffffff;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    clear: both;
    flex: 1;
    display: flex;
    flex-direction: column;
}
/*Estilo del encabezado (header):*/
header {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid #b6b6b6;
}

header h1 {
    margin: 0;
    font-size: 16px;
    color: #000;
}
/*Estilo del botón de cierre de sesión (logout):*/
header .logout {
    background-color: #004494;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.5s ease; /* Add the transition property */
    position: relative; /* Set the position to relative for the pseudo-elements */
    overflow: hidden;
}

header .logout::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 20px;
    transition: transform 0.5s ease;
    opacity: 0.1;
}

header .logout:hover {
    background-color: #003B7A;
}

header .logout:hover::before {
    transform: translate(-50%, -50%) scale(1);
}
/*Estilo del contenedor (container):*/
.containe {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
}
/*Estilo del menú (menu):*/
.menu {
    display: flex;
    flex-direction: column;
    
}

.menu button {
    background-color: #004494;
    color: white;
    border: none;
    padding: 35px 50px;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;

    transition: background-color 0.5s ease; /* Add the transition property */
    position: relative; /* Set the position to relative for the pseudo-elements */
    overflow: hidden;
}

.menu button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 20px;
    transition: transform 0.5s ease;
    opacity: 0.1;
}

.menu button:hover {
    background-color: #003B7A;
}

.menu button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}
/*Estilo del logo:*/
.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*Mover imagen derecha: margin-left: 890px;*/
    margin-right: 200px;
}

.logo img {
    height: auto;
    width: 200%;
}

header .In {
    background-color: #FFEFD5;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.5s ease; /* Add the transition property */
    position: relative; /* Set the position to relative for the pseudo-elements */
    left: 595px;
    overflow: hidden;
}

header .In::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 20px;
    transition: transform 0.5s ease;
    opacity: 0.1;
}

header .In:hover {
    background-color: #FFEFD5;
}

header .In:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 100px;
    margin-top: 100px;

    gap: 20px;
}

.date-picker {
    background-color: #FFEFD5;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.header {
    font-size: 14px;
    color: #003B7A;
    margin-bottom: 10px;
}

.body {
    margin-bottom: 20px;
}

.body label {
    display: block;
    font-size: 18px;
    color: #003B7A;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    border: 2px solid #003366;
    border-radius: 4px;
    padding: 5px;
    background-color: #FFEFD5;
}

.icon {
    font-size: 16px;
    color: #003B7A;
    margin-right: 5px;
}

input[type="text"] {
    border: none;
    outline: none;
    font-size: 14px;
    color: #003B7A;
    flex: 1;
}

input[type="text"]::placeholder {
    color: #003B7A;
    opacity: 0.6;
}

.footer {
    display: flex;
    justify-content: space-between;
}

button {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

button.clear, button.cancel {
    color: #003B7A;
}

button.ok {
    color: #003366;
}

#linea{
    border: 1px solid #ffd59b;
    width: 334px;
    border-radius: 5px;
    justify-content: flex-start;
    margin-left: -20px;
}

.table-container {

    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #003366;
}

th, td {
    border: 1px solid #003366;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}